<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    * {
      box-sizing: border-box;
    }
    .card {
      border: 1mm solid black;
      padding: 1mm;
      height: 85mm;
      width: 60mm;
    }
    .manacost {
      float: right;
      margin-left: 5px;
    }
    .text {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  </html>
  <div class="card">
    <div class="manacost">1BB</div>
    <div class="title">Hero's Downfall</div>
    <div class="text">Destroy target creature or planeswalker</div>
  </div>
</body>
